# OS
.DS_Store

# Rust
/target
**/target

# Node/Tauri
node_modules
dist
**/dist
pnpm-lock.yaml
package-lock.json
!apps/desktop/package-lock.json
yarn.lock
apps/desktop/src-tauri/binaries/
apps/desktop/src-tauri/gen/

# IDE
.vscode
.idea

# Logs
*.log
